<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%> 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Add New Post</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" action="/posts" class="tm-contact-form" >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Post Title</label>
              <input type="text" name="title" class="form-control" placeholder="Post Title" id="title" required data-validation-required-message="Please enter your title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Post Detail</label>
              <textarea rows="5" name="diary" class="form-control" placeholder="Post Diary" id="diary" required data-validation-required-message="Please enter a post."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div id="success"></div>
          <br>
          <div class="form-group">
            <input type="file" name="image" class="form-control-file rounded-0">
          </div>
          <br>
          
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <%- include('partials/_footer') -%>
</body>

</html>
